env
venv
db.sqlite3
.vscode
src/base/migrations
src/base/__pycache__
src/social_media/migrations
src/social_media/__pycache__
src/news/migrations
src/news/__pycache__
src/teachers/migrations
src/techaers/__pycache__
src/support_material/migrations
src/support_material/__pycache__
t2_unab/__pycache__
front-end/node_modules
