<div class = "fixed-bottom container">

  <!--Titulo-->
  <h4>Enlaces a redes sociales: </h4>

  <!--Enlaces a redes-->
  <ul>
    <li>
      <h6><a target="_blank" rel="noopener" href="https://www.facebook.com/groups/icfunab/" class="text-info">Facebook</a></h6>
    </li>
    <li>
      <h6><a target="_blank" rel="noopener" href="https://instagram.com/cein_unab?igshid=8k1a5q1lsb22" class="text-info">Instagram</a></h6>
    </li>
    <li>
      <h6><a target="_blank" rel="noopener" href="https://www.linkedin.com/groups/8496718?trk=public_profile_group">Linkedin</a></h6>
    </li>
  </ul>

</div>

