<!--Titulo de la página-->
<div class= "bg-danger  text-wite text-center">
    <h1>
      Bienvenidos a la página oficial del {{ title }}!
    </h1>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">    
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" [routerLink]="['/']">Inicio <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/noticias']">Noticias</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/profesores']">Profesores</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/contacto']">Contacto</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/materialapoyo']">Material de Apoyo</a>
		  </li>
		  
		  <li class="nav-item">
            <a class="nav-link" [routerLink]="['/perfil']">RRSS</a>
		  </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2 te" type="search" placeholder="Buscar" aria-label="Search">
          <button class="btn my-2 my-sm-0" type="submit">Buscar</button>
        </form>
      </div>
    </nav>    
</div>

  